<!-- templates/password_reset_email.html -->

<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Instructions</title>
</head>
<body>
    <p>Hi there,</p>
    
    <p>You requested a password reset. Please follow the link below to set a new password:</p>
    
    <a href="{{ reset_link }}">{{ reset_link }}</a>
    
    <p>If you did not request a password reset, please ignore this email or contact support.</p>
    
    <p>Best,<br>Your App Team</p>
</body>
</html>
